<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cosmelione.platzigram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2.CameraDevice"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.CreateAccountActivity"
            android:label="@string/registerLabel"
            android:parentActivityName=".login.view.LoginActivity"
            android:screenOrientation="portrait"> <!-- android:parentActivityName=".LoginActivity" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.view.LoginActivity" />
        </activity>
        <activity
            android:name=".views.ContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".post.view.PostPictureActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cosmelione.platzigram"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>